<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span jhiTranslate="nexioApp.client.detail.title">Client</span> {{ client.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nexioApp.client.login">Login</span></dt>
                <dd>
                    <span>{{ client.login }}</span>
                </dd>

                <dt><span jhiTranslate="nexioApp.client.nom">Nom</span></dt>
                <dd>
                    <span>{{ client.nom }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.client.prenom">Prénom</span></dt>
                <dd>
                    <span>{{ client.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.client.civilite">Civilité</span></dt>
                <dd>
                    <span>{{ client.civilite }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.client.dateNaissance">Date Naissance</span></dt>
                <dd>
                    <span>{{ client.dateNaissance }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.client.numero">Numéro</span></dt>
                <dd>
                    <span>{{ client.numero }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.client.rue">Rue</span></dt>
                <dd>
                    <span>{{ client.rue }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.client.commune">Commune</span></dt>
                <dd>
                    <span>{{ client.commune }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.client.ville">Ville</span></dt>
                <dd>
                    <span>{{ client.ville }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.client.codePostal">Code Postal</span></dt>
                <dd>
                    <span>{{ client.codePostal }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.client.tel">Tél</span></dt>
                <dd>
                    <span>{{ client.tel }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.client.fax">Fax</span></dt>
                <dd>
                    <span>{{ client.fax }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.client.gsm">Gsm</span></dt>
                <dd>
                    <span>{{ client.gsm }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.client.email">Email</span></dt>
                <dd>
                    <span>{{ client.email }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client-zed', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
