<div>
    <h2 id="page-heading">
        <span jhiTranslate="nexioApp.client.home.title">Clients</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-client-zed" [routerLink]="['/client-zed/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nexioApp.client.home.createLabel">
            Create a new Client
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clients?.length === 0">
        <span jhiTranslate="nexioApp.client.home.notFound">No clients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clients && clients.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="login"><span jhiTranslate="nexioApp.client.login">Login</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="nexioApp.client.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="nexioApp.client.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="civilite"><span jhiTranslate="nexioApp.client.civilite">Civilite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateNaissance"><span jhiTranslate="nexioApp.client.dateNaissance">Date Naissance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numero"><span jhiTranslate="nexioApp.client.numero">Numero</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rue"><span jhiTranslate="nexioApp.client.rue">Rue</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commune"><span jhiTranslate="nexioApp.client.commune">Commune</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ville"><span jhiTranslate="nexioApp.client.ville">Ville</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codePostal"><span jhiTranslate="nexioApp.client.codePostal">Code Postal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tel"><span jhiTranslate="nexioApp.client.tel">Tél</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fax"><span jhiTranslate="nexioApp.client.fax">Fax</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gsm"><span jhiTranslate="nexioApp.client.gsm">Gsm</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="nexioApp.client.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients ;trackBy: trackId">
                    <td><a [routerLink]="['/client-zed', client.id, 'view']">{{ client.id }}</a></td>
                    <td>{{ client.login }}</td>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.prenom }}</td>
                    <td>{{ client.civilite }}</td>
                    <td>{{ client.dateNaissance }}</td>
                    <td>{{ client.numero }}</td>
                    <td>{{ client.rue }}</td>
                    <td>{{ client.commune }}</td>
                    <td>{{ client.ville }}</td>
                    <td>{{ client.codePostal }}</td>
                    <td>{{ client.tel }}</td>
                    <td>{{ client.fax }}</td>
                    <td>{{ client.gsm }}</td>
                    <td>{{ client.email }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/client-zed', client.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/client-zed', client.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(client)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="clients && clients.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
