<div class="footer">
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-3 item">
					<h3 jhiTranslate="global.zeddini.about">A propos</h3>
					<ul>
						<li><a href="https://www.zeddini.com" target="_blank" rel="noopener noreferrer" jhiTranslate="global.zeddini.name">Walid Zeddini</a></li>
						<li><a href="https://www.zeddini.com/en-bref/informatique" target="_blank" rel="noopener noreferrer" jhiTranslate="global.zeddini.briefme" >En bref, qui suis je ?</a></li>
						<li><a href="https://www.zeddini.com/cours/cours-isi-2021-2022" target="_blank" rel="noopener noreferrer" jhiTranslate="global.zeddini.end">Enfin, un perçu sur mes Cours 2021 !</a></li>
					</ul>
				</div>
				<div class="col-md-6 item text">
					<h3 jhiTranslate="global.zeddini.tonexio">Pour Nexio :</h3>
					<p jhiTranslate="global.zeddini.messagenexio">S'agissant d'un POC et étant pressé par le temps, j'ai opté pour générer la partie Front avec Angular 10 et la partie Back avec Spring Boot en utilisant JWT et Spring Security et bien évidemment le REST avec une base PostgreSQL. La version Microservice et OAuth2 (Serveur KeyCloak) est disponible :
                             <ul>
                                <li><a href="https://nexio-order-service.herokuapp.com/swagger-ui/" target="_blank" rel="noopener noreferrer">Microservice order-service-swagger-ui</a></li>
                                <li><a href="https://nexio-stock-service.herokuapp.com/swagger-ui/" target="_blank" rel="noopener noreferrer">Microservice stock-service-swagger-ui</a></li>
                            </ul>
                    </p>
				</div>
			</div>
			<p class="copyright">Zeddini © 2021</p>
		</div>
	</footer>
</div>


