<div>
    <h2 id="page-heading">
        <span jhiTranslate="nexioApp.produit.home.title">Produits</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-produit-zed" [routerLink]="['/produit-zed/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nexioApp.produit.home.createLabel">
            Create a new Produit
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="produits?.length === 0">
        <span jhiTranslate="nexioApp.produit.home.notFound">No produits found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="produits && produits.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="designation"><span jhiTranslate="nexioApp.produit.designation">Designation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="marque"><span jhiTranslate="nexioApp.produit.marque">Marque</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="modele"><span jhiTranslate="nexioApp.produit.modele">Modele</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="configuration"><span jhiTranslate="nexioApp.produit.configuration">Configuration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prixUnitaire"><span jhiTranslate="nexioApp.produit.prixUnitaire">Prix Unitaire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantite"><span jhiTranslate="nexioApp.produit.quantite">Quantite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categorie.id"><span jhiTranslate="nexioApp.produit.categorie">Categorie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produit of produits ;trackBy: trackId">
                    <td><a [routerLink]="['/produit-zed', produit.id, 'view']">{{ produit.id }}</a></td>
                    <td>{{ produit.designation }}</td>
                    <td>{{ produit.marque }}</td>
                    <td>{{ produit.modele }}</td>
                    <td>{{ produit.configuration }}</td>
                    <td>{{ produit.prixUnitaire }}</td>
                    <td>{{ produit.quantite }}</td>
                    <td>
                        <div *ngIf="produit.categorie">
                            <a [routerLink]="['/categorie-zed', produit.categorie?.id, 'view']" >{{ produit.categorie?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/produit-zed', produit.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/produit-zed', produit.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(produit)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="produits && produits.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
