<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commande">
            <h2><span jhiTranslate="nexioApp.commande.detail.title">Commande</span> {{ commande.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nexioApp.commande.qte">Qte</span></dt>
                <dd>
                    <span>{{ commande.qte }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.commande.date">Date</span></dt>
                <dd>
                    <span>{{ commande.date }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.commande.etat">Etat</span></dt>
                <dd>
                    <span>{{ commande.etat }}</span>
                </dd>
                <dt><span jhiTranslate="nexioApp.commande.produit">Produit</span></dt>
                <dd>
                    <div *ngIf="commande.produit">
                        <a [routerLink]="['/produit-zed', commande.produit?.id, 'view']">{{ commande.produit?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nexioApp.commande.client">Client</span></dt>
                <dd>
                    <div *ngIf="commande.client">
                        <a [routerLink]="['/client-zed', commande.client?.id, 'view']">{{ commande.client?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commande-zed', commande.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
